<aside class="pad-20">
  <h3 class="p-relative txt-c">Ahmed</h3>
  <ul class="links">
    <li>
      <a
        href="/dashboard"
        class="<%= currentPath === './dashboard' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-solid fa-gauge"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a
        href="/settings"
        class="<%= currentPath === './settings' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a
        href="/profile"
        class="<%= currentPath === './profile' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-regular fa-user"></i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a
        href="/projects"
        class="<%= currentPath === './projects' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-solid fa-diagram-project"></i>
        <span>Projects</span>
      </a>
    </li>
    <li>
      <a
        href="/courses"
        class="<%= currentPath === './courses' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-solid fa-graduation-cap"></i>
        <span>Courses</span>
      </a>
    </li>
    <li>
      <a
        href="/friends"
        class="<%= currentPath === './friends' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-solid fa-user-group"></i>
        <span>Friends</span>
      </a>
    </li>
    <li>
      <a
        href="/files"
        class="<%= currentPath === './files' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-regular fa-file"></i>
        <span>Files</span>
      </a>
    </li>
    <li>
      <a
        href="plans"
        class="<%= currentPath === './plans' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-solid fa-credit-card"></i>
        <span>Plans</span>
      </a>
    </li>
    <li>
      <a
        href="/contact-form"
        class="<%= currentPath === './contact-form' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-regular fa-pen-to-square"></i>
        <span>Contact Form</span>
      </a>
    </li>
    <li>
      <a
        href="/crud"
        class="<%= currentPath === './crud' ? 'active' : ''%> rad-6 pad-10 d-flex align-c"
      >
        <i class="fa-solid fa-plus"></i>
        <span>CRUD</span>
      </a>
    </li>
  </ul>
</aside>
